<div class="container">
  <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Saipos Blog</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/pizzaria.svg" alt="Imagem Pizzaria">
      <mat-card-content>
        <p>
          Gostaria de aumentar a produtividade da sua pizzaria delivery e não sabe como?
          Acesse nosso artigo e fique por dentro!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button href="https://materiais.saipos.com/lp-5-dicas-para-aumentar-a-produtividade-da-sua-pizzaria" target="_blank">Leia Mais</a>
      </mat-card-actions>
  </mat-card>

  <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Saipos Blog</mat-card-title>
      </mat-card-header>
        <img mat-card-image src="assets/img/vendas.svg" alt="Imagem Vendas">
        <mat-card-content>
          <p>
            Aumente suas vendas com dicas de divulgação.
            Acesse nosso artigo e fique por dentro!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button href="https://materiais.saipos.com/p-ebook-5-dicas-para-divulgar-seu-restaurante-b" target="_blank">Leia Mais</a>
        </mat-card-actions>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Saipos Blog</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/comparador.svg" alt="Imagem Comparador">
    <mat-card-content>
        <p>
            Utilize nosso comparador de aplicativos delivery. Acesse nosso artigo e fique por dentro!
        </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="https://saipos.com/comparador-de-aplicativos-delivery" target="_blank">Leia Mais</a>
    </mat-card-actions>
</mat-card>

</div>


