<mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Saipos Blog</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/pizzaria.svg" alt="Imagem Pizzaria">
    <mat-card-content>
      <p>
        Gostaria de aumentar a produtividade da sua pizzaria delivery e não sabe como?
        Acesse nosso artigo e fique por dentro!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Leia Mais</button>
    </mat-card-actions>
  </mat-card>

<mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Saipos Blog</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/vendas.svg" alt="Imagem Vendas">
    <mat-card-content>
      <p>
        Aumente suas vendas com essas dicas de divulgação.
        Acesse nosso artigo e fique por dentro!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Leia Mais</button>
    </mat-card-actions>
</mat-card>


