<h2 mat-dialog-title>Integrações Disponíveis:</h2>
<div mat-dialog-content>
  <p>99 Food - Aarim - Abrahão - Accon Delivery - AiqFome - Americanas Delivery -
    Amo Sistemas - Anota aí - Bigou - Bora Pedir - Brendi - Bringslandia - Cardápio Web -
    CCM - Cliente Fiel - Deeliv - Deliver Direto - Delivery Much -  Delivery Seguro -  Digital Web -
    Facciamo - Goomer - GoTotem - Hakuna Batata - HotFood - Ifood - Jota Já - L7 Group - Liga -
    Machine - MeuNuvem - MeuCardápio - MultiPedidos - Natural Bot - Neemo - Next Page Tecnologia -
    One Soluções - Ordatic - Panda - Pede Aí - Pede Pronto - Pedidos10 - Prefiro Delivery - 
    Qlub.io - Quero Delivery - QuickBot - Rappi - Robin Food - Sidequest XP - Vetecno -
    VideoSoft - VoceQPad - Vya.Digital - Wabiz</p>
</div>