.container {
    width: 40rem;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .6rem;
    background: linear-gradient(180deg, rgba(22,81,131,0.10407913165266103) 0%, rgba(61,85,198,0.11528361344537819) 53%);
}

h1 {
    text-align: center;
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.two-field {
    display: flex;
    justify-content: space-between;
}

.two-field mat-form-field {
    width: 49%;
}

.two-field button {
    width: 49%;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
}


.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.question-label {
    margin-bottom: .6rem;
    font-weight: bold;
}

.login {
    min-height: 2rem;
    max-height: 5rem;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.button button {
    width: 50%;
}